@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px
}
.w-850 {
    width: 850px;
}
.h-400 {
    height: 400px;
}
.w-290 {
    width: 290px;
}
.text-indent {
    text-indent: 10px;
}
.grid-calc {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.grid-cart {
    display: grid;
    grid-template-columns: 5fr 1fr 2fr 0.5fr;
}

.h-2em {
    height: 1.7em;
}
