@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px
}
.w-850 {
    width: 850px;
}
.h-400 {
    height: 400px;
}
.w-290 {
    width: 290px;
}
.text-indent {
    text-indent: 10px;
}