@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px
}
.w-850 {
    width: 850px;
}
.h-400 {
    height: 400px;
}
.h-600 {
    height: 600px;
}
.w-290 {
    width: 290px;
}
.text-indent {
    text-indent: 10px;
}
.grid-calc {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.grid-cart {
    display: grid;
    grid-template-columns: 5fr 1fr 2fr 0.5fr;
}

.h-2em {
    height: 1.7em;
}


.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}
